<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li id="home-link" data-hook><%= link_to Spree.t(:Products), products_path %></li>
      <li id="home-link" data-hook><a href="/t/categories/bags">Bags</a></li>
      <li id="home-link" data-hook><a href="/t/categories/mugs">Mugs</a></li>
      <li id="home-link" data-hook><a href="/t/categories/clothing">T Shirt</a></li>
    </ul>

  </div>
</nav>
