<h1>Our Story</h1>
<p>If we could introduce us in one sentence, it would be: Fun loving,
  tech savvy responsible thrill seekers. We like to fly, we like to surf and
  when we are on land, we like to hover. Well, not the ‘hover’ hover, but
  still pretty close. Oz Hoverboard Pvt. Ltd. is formed with the intention of
   bringing the world’s best hoverboards to Australian soil. Our mission is to
   ensure your safety and peace of mind, while you enjoy the joyous ride on these
   incredible personal transportation devices. </p>
<p>If we could introduce us in one sentence, it would be: Fun loving,
  tech savvy responsible thrill seekers. We like to fly, we like to surf and
  when we are on land, we like to hover. Well, not the ‘hover’ hover, but
  still pretty close. Oz Hoverboard Pvt. Ltd. is formed with the intention of
   bringing the world’s best hoverboards to Australian soil. Our mission is to
   ensure your safety and peace of mind, while you enjoy the joyous ride on these
   incredible personal transportation devices. </p>
